/*------------------------FONTS START------------------------*/
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v17-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v17-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin_cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* quicksand-regular - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quicksand-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/quicksand-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/quicksand-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/quicksand-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/quicksand-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/quicksand-v21-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
  }
  /* quicksand-700 - latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/quicksand-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/quicksand-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/quicksand-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/quicksand-v21-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/quicksand-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/quicksand-v21-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
  }
  /* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v14-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /*------------------------FONTS END------------------------*/
  h1{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
  }
  h2{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #1F2041;
  }
  h3{
    font-family: Quicksand, Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
  }
  body{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
  /*------------------------CALENDAR BEGIN------------------------*/
  .calendar{
    display: flex;
    flex-direction: column;
    width: 320px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    margin: 50px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .calendar__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .calendar__monthYear{
    display: flex;
    margin: 19px 0 0;
    height: 24px;
  }
  .calendar__monthYear h3{
    font-size: 19px;
    line-height: 24px;
     
  }
  .calendar__monthYear h2{
    font-size: 19px;
    line-height: 24px;
  }

  .calendar__nav{
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 19px;
  }
  .calendar__nav span{
    margin-top: 2px;
    font-size: 24px;
    line-height: 20px;
    color: #BC9CFF;
  }
  
  .calendar__days{
    margin: 19px 19px 0 19px;
  }
  .calendar__daysOftheWeek p {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #BC9CFF;
    word-spacing: 20.2px;
  }
  .calendar__daysOftheMonth{
    display: flex;
    flex-wrap: wrap;
    margin-top: 7.6px;
    margin-left: 1.5px;
  }
  .calendar__number{
    display: block;
    flex-basis: 14.275%;
    font-size: 12px;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    padding:8.1px 0;
  }
  .calendar__number_today{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    color: #FFFFFF;
    font-weight: bold;
  }
  .calendar__number_data{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    color: #FFFFFF;
    font-weight: bold;
  }
  .calendar__number_active{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: #FFFFFF;
    font-weight: bold;
  }
  .calendar__number_line{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.25;
  }
  .calendar__priev-date, .calendar__next-date{
    color: rgba(31, 32, 65, 0.25);
  }
  .calendar__footer {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    margin: 21px 19.35px 19px;
  }
  .calendar__clear {
    color: rgba(31, 32, 65, 0.5);
  }
  .calendar__sumbit {
    color: #BC9CFF;
  }
  /*-------------------------CALENDAR END-------------------------*/
